@import "tailwindcss";
@custom-variant hover (&:hover);
@custom-variant en (&:where([lang=en], [lang=en] *));
@custom-variant fa (&:where([lang=fa], [lang=fa] *));

/* ============================================= -- Theme Configuration -- ============================================= */
@theme {
  --color-navy: #060b26;
  --color-blue: #0075ff;
  --color-green: #01b574;

  --tracking-ultra-wide: 0.18em;

  --font-VazirRegular: "Vazir-Regular", Arial, Helvetica, sans-serif;
  --font-VazirMedium: "Vazir-Medium", Arial, Helvetica, sans-serif;
  --font-VazirBold: "Vazir-Bold", Arial, Helvetica, sans-serif;
}
/* ============================================= -- Theme Configuration -- ============================================= */

/*! ============================================= -- Base Customization -- ============================================= */
@layer base {
  html[lang="fa"] {
    --font-VazirRegular: "Vazir-Regular--fa", Arial, Helvetica, sans-serif;
    --font-VazirMedium: "Vazir-Regular--fa", Arial, Helvetica, sans-serif;
    --font-VazirBold: "Vazir-Regular--fa", Arial, Helvetica, sans-serif;
  }

  html {
    @apply scroll-smooth selection:bg-navy selection:text-blue;
  }
  html::-webkit-scrollbar {
    @apply size-2.5;
  }
  html::-webkit-scrollbar-thumb {
    @apply bg-blue;
  }
  html::-webkit-scrollbar-thumb:hover {
    @apply bg-blue/80;
  }
  html::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  *:not(html) ::-webkit-scrollbar {
    @apply size-1.5;
  }
  *:not(html) ::-webkit-scrollbar-thumb {
    @apply bg-blue rounded-full;
  }
  *:not(html) ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue/80;
  }
  *:not(html) ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  input,
  textarea {
    @apply outline-0! transition-shadow placeholder:text-gray-400 focus:ring-2 focus:ring-blue fa:ltr fa:placeholder:text-right;
  }
  input:-webkit-autofill {
    @apply [transition-property:color,background-color] duration-9999999;
  }
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
  }
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  @font-face {
    font-family: "Vazir-Regular";
    font-display: swap;

    src:
      local("Vazir"),
      url("/fonts/Vazir/Vazir.woff2") format("woff2");
  }
  @font-face {
    font-family: "Vazir-Regular--fa";
    font-display: swap;

    src:
      local("Vazir-FD-WOL"),
      url("/fonts/Vazir/Vazir-FD-WOL.woff2") format("woff2");
  }

  @font-face {
    font-family: "Vazir-Medium";
    font-display: swap;

    src:
      local("Vazir-Medium"),
      url("/fonts/Vazir/Vazir-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Vazir-Medium--fa";
    font-display: swap;

    src:
      local("Vazir-Medium-FD-WOL"),
      url("/fonts/Vazir/Vazir-Medium-FD-WOL.woff2") format("woff2");
  }

  @font-face {
    font-family: "Vazir-Bold";
    font-display: swap;

    src:
      local("Vazir-Bold"),
      url("/fonts/Vazir/Vazir-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Vazir-Bold--fa";
    font-display: swap;

    src:
      local("Vazir-Bold-FD-WOL"),
      url("/fonts/Vazir/Vazir-Bold-FD-WOL.woff2") format("woff2");
  }
}
@utility container {
  /* TODO Container p-x */
  @apply mx-auto max-w-[1600px] px-5 lg:px-5;
}
/*! ============================================= -- Base Customization -- ============================================= */

/*? ============================================= -- Custom Utilities -- ============================================= */
@utility ltr {
  direction: ltr;
}
@utility rtl {
  direction: rtl;
}

@utility bg-linear {
  background: linear-gradient(
    to bottom,
    rgb(6 11 38 / 74%),
    rgb(26 31 55 / 50%)
  );
}
@utility primary-linear {
  background: linear-gradient(
    to top left,
    rgb(10 14 35 / 30%),
    rgb(6 11 40 / 94%)
  );
}
/*? ============================================= -- Custom Utilities -- ============================================= */

/** ============================================= -- Custom Components -- ============================================= */
@utility flex-items-center {
  @apply flex items-center;
}
@utility flex-justify-center {
  @apply flex justify-center;
}
@utility flex-center {
  @apply flex-items-center justify-center;
}
@utility flex-start {
  @apply flex items-start justify-start;
}
@utility flex-end {
  @apply flex items-end justify-end;
}
/** ============================================= -- Custom Components -- ============================================= */
